#container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 75% 15%;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-top: 150px;
}
.fillter-price {
  width: 100%;
}
.fillter-price h3 {
  font-family: system-ui, sans-serif;
  margin-bottom: 30px;
}

.item-fillter {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 17px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.item-fillter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.item-fillter:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Show the checkmark when checked */
.item-fillter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.item-fillter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-content .title-content {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 10px 10px 0 #fafafa;
  padding: 5px 0 10px 10px;
  margin: 0 0 50px 0;
  font-family: system-ui, sans-serif;
}
.main-content .title-content .fillter-select span {
  font-size: 13px;
  margin-right: 10px;
}
.main-content .title-content #select {
  width: 130px;
  height: 40px;
  padding: 10px;
  outline: none;
}
.content-clothes {
  height: auto;
  overflow: none;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  column-gap: 70px;
  row-gap: 100px;
  transition: 0.5s;
}
.content-clothes .item-products {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border-radius: 5px 30px;
  transition: 0.5s;
  box-shadow: 0 0 2px 0 #b2bec3;
}
.content-clothes .item-products .name {
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-clothes .item-products .price {
  position: relative;
  font-weight: 600;
  margin-top: 10px;
}
.content-clothes .item-products .price::after {
  position: absolute;
  content: "đ";
  top: -2px;
  font-size: 13px;
  color: #e74c3c;
}
.content-clothes .item-products .item-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  border-bottom: 1px solid #dfe6e9;
}
.content-clothes .item-products:hover {
  box-shadow: 0 10px 50px 0 #dfe6e9;
  border-radius: 5px 30px;
}

.content-clothes .item-products:hover {
  box-shadow: 0 5px 20px 0 #dfe6e9;
}

.content-clothes .item-products:hover .item-img {
  border-radius: 0;
  box-shadow: 0 0 5px 0 #b2bec3;
  border-radius: 0 0 0 30px;
}
.content-clothes .item-products:hover .name {
  color: #e74c3c;
}
.content-clothes .item-products:hover .buy-add {
  transform: translateY(0);
  opacity: 1;
}
.buy-add {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  bottom: 90px;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
  transform: translateY(-200%);
  opacity: 0;
  transition: 0.7s;
  border-radius: 5px 30px;
}
.buy-add .add-cart,
.buy-add .buy {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(225, 225, 225, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.buy-add .buy {
  font-size: 13px;
  background: rgba(231, 76, 60, 0.7);
  text-decoration: none;
}
#btn-to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  z-index: 999;
  cursor: pointer;
  display: none;
  text-decoration: none;
}
footer {
  background-color: #f9f9f9;
  padding: 50px 0 10px 0;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

footer ul.social-icons li:last-child {
  margin-right: 0;
}

footer ul.social-icons li a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

footer ul.social-icons li a:hover {
  background-color: #e74c3c;
}
.main-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.main-footer .contact-footer-1 img {
  width: 250px;
  transform: translateX(-35px);
}
.main-footer .newsletter-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-footer .newsletter-form #email {
  width: 300px;
  border: none;
  border-bottom: 1px solid #b2bec3;
  outline: none;
  background: transparent;
  margin: 20px 0 30px 0;
  padding-left: 10px;
  height: 40px;
  box-shadow: 0 5px 100px 0 #dfe6e9;
}
.main-footer .newsletter-form button {
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 10px 0 #dfe6e9;
  cursor: pointer;
}
.title-footer {
  text-align: center;
  opacity: 0.8;
}
.main-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
  display: none;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3; /* Màu nền của spinner */
  border-top: 8px solid #6c5ce7; /* Màu đỉnh của spinner */
  border-radius: 50%;
  animation: spin 2s linear infinite; /* Tạo hiệu ứng quay vòng */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
