.container {
  width: 90%;
  margin: 100px auto;
}
.container h4 {
  font-size: 20px;
  font-weight: 200;
  font-family: system-ui, sans-serif;
  margin-bottom: 50px;
}
.results-search {
  height: auto;
  overflow: none;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  column-gap: 70px;
  row-gap: 100px;
  transition: 0.5s;
}
.results-search .item-products {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border-radius: 5px 30px;
  transition: 0.5s;
  box-shadow: 0 0 2px 0 #b2bec3;
}
.results-search .item-products .name {
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.results-search .item-products .price {
  position: relative;
  font-weight: 600;
  margin-top: 10px;
}
.results-search .item-products .price::after {
  position: absolute;
  content: "đ";
  top: -2px;
  font-size: 13px;
  color: #e74c3c;
}
.results-search .item-products .item-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  border-bottom: 1px solid #dfe6e9;
}
.results-search .item-products:hover {
  box-shadow: 0 10px 50px 0 #dfe6e9;
  border-radius: 5px 30px;
}

.results-search .item-products:hover {
  box-shadow: 0 5px 20px 0 #dfe6e9;
}

.results-search .item-products:hover .item-img {
  border-radius: 0;
  box-shadow: 0 0 5px 0 #b2bec3;
  border-radius: 0 0 0 30px;
}
.results-search .item-products:hover .name {
  color: #e74c3c;
}
.results-search .item-products:hover .buy-add {
  transform: translateY(0);
  opacity: 1;
}
.buy-add {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  bottom: 90px;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
  transform: translateY(-200%);
  opacity: 0;
  transition: 0.7s;
  border-radius: 5px 30px;
}
.buy-add .add-cart,
.buy-add .buy {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(225, 225, 225, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.buy-add .buy {
  font-size: 13px;
  background: rgba(231, 76, 60, 0.7);
  text-decoration: none;
}
